.chat-content{ "data-message-id": "#{message.id}"}
  .chat-content__header
    .chat-content__name
      =message.user.name
    .chat-content__time
      = message.created_at.to_s(:default)
  .chat-content__message
    - if message.content.present?
      = message.content
      %br
      %br
    = image_tag message.image.url, class: 'chat-content__image' if message.image.present?
