// place
$chat_index_color: #F5F5F5;
$chat_footer_color: #DDDDDD;

// font-color
$font_group_color: #333333;
$font_user_color: #999999;
$font_time_color: #AAAAAA;

// color
$white: #FFFFFF;
$gray: #EEEEEE;
$light_blue: #38AEF0;
$doll_red: #D65F4C;
