.chatspace {
  min-width: 980px;
  height: 100vh;
}

.chat-main {
  position: relative;
  height: 100vh;
  width: calc(100% - 300px);
  display: inline-block;
  float: right;
  background-color: $chat_index_color;
}

.chat-header {
  height: 100px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: $white;
  border-bottom: 1px solid $gray;

  &__left {
    padding-top: 30px;
    padding-bottom: 10px;
    display: inline-block;
    .group {
      font-size: 20px;
      color: $font_group_color;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    .user {
      font-size: 12px;
      line-height: 20px;
      color: $font_user_color;
    }
  }
  &__right {
    float: right;
    .edit-btn {
      display: inline-block;
      margin: 28px 0;
      padding: 0 20px;
      line-height: 40px;
      color: $light_blue;
      font-size: 14px;
      border: 2px solid;
      text-align: center;
    }
  }
}

.chat-body {
  position: relative;
  padding: 30px 0;
  height: calc(100% - 250px);
  overflow-y: scroll;
}

.chat-contents {
  position: absolute;
  right: 40px;
  left: 40px;
  padding: 0;
  list-style: none;
}

.chat-content {
  margin-bottom: 40px;

  &__name {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__time {
    display: inline-block;
    margin-left: 10px;
    color: $font_time_color;
    font-size: 12px;
  }
  &__message {
    font-size: 14px;
  }
  &__image {
    width: auto;
    height: auto;
  }
}

.chat-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background-color: $chat_footer_color;

  &__text {
    float: left;
    height: 50px;
    width: calc(100% - 140px);
    line-height: 50px;
    border: none;
    resize: none;
    background-color: $white;
    box-sizing: border-box;
    padding-left: 10px;
  }
  &__image {
    right: 5px;
    bottom: 15px;
    padding: 0 10px;
    background-color: $white;
    box-sizing: border-box;
    line-height: 30px;
    position: right;
  }
}

.send {
    float: right;
    display: inline-block;
    width: 100px;
    // padding-right: 30px;
    // padding-left: 30px;
    line-height: 50px;
    background-color: $light_blue;
    font-size: 16px;
    text-align: center;
    color: $white;
}

.form__mask {
  background-color: #fff;
  padding: 13px 10px 13px 0;
  border: none;
  float: left;
}

.hidden {
  display: none;
}
