.chat-side {
  background-color: #2f3e51;
  float: left;
  height: 100vh;
  width: 300px;
  color: #fff;
}

.chat-user {
  height: 60px;
  background-color: #253141;
  padding: 20px 10px 20px 20px;

  &__name {
    float: left;
    line-height: 60px;
    letter-spacing: 2px;
    h5 {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__action {
    float: right;
    padding-top: 15px;
    font-size: 20px;
    &__group {
      color: $white;
    }
    &__user {
      float: left;
      color: $white;
      padding-right: 10px;
    }
  }
}
.icon {
  float: right;
  color: #fff;
}

.fa-cog {
  margin-right: 20px;
  margin-left: 10px;
}

.chat-group {
  padding: 20px 20px;
  overflow: scroll;

  &__name {
    font-size: 15px;
    padding-bottom: 5px;
    color: #fff;
  }
  &__message {
    font-size: 11px;
    padding: 5px 10px 40px 10px;
    color: #fff;
  }
}
